body {
    background-color: rgb(189, 241, 241);
    font-family:Arial, Helvetica, sans-serif;
}

section {
    margin: auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.39);
    text-align: center;
    height: auto;
    max-width: 70%;
    background-color: white;
    margin-top: 100px;
    border-radius: 10px;
    padding-bottom: 20px;
}

.container {
    padding: 20px;
    text-align: left;
}

.container label {
    font-size: 1.2em;
}

.marca,
.modelo, .cor, .anoF, .anoM, .km, .valor {
    display: block;
    width: 300px;
    height: 30px;
    margin-bottom: 30px;
}

.ad,
.excluir{
    padding: 7px;
    margin: 8px;
    background-color: rgb(24, 104, 104);
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.192);
    font-weight: bold;
    color: white;
    width: auto;
}

h1 {
    text-align: center;
    background-color: aquamarine;
}

.lista {
    text-align: center;
    font-size: 1em;
}

table th {
    background-color: #ccc;
}

table {
    border-collapse: collapse;
    margin: auto;
    width: 85%;
    padding-top: 30px;
}
table th, table td {
    border: 1px solid #ccc;
    padding: 5px;
}

.rem {
    cursor: pointer;
}